*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image:url("img1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
    text-size-adjust: 5px;;
    color: white;
    border-radius: 20px;
    padding: 0px 30px;
}
.navbar ul li a:hover{
    background-color: #5d88d5;
}
.navbar h1{
    color: white;
    font-size: 35px;
    font-weight: 100px;
    text-transform: uppercase;
    margin: 20px 15px;
}
.item {
    width: 30%;
    min-height: 120vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color: rgb(32, 32, 156);
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.item h1{
    margin:40px 20px 20px 20px;
    font-size: 50px;
    font-weight: 400px;
    text-align:center;
    margin-left: 0px;
}
.item a{
    text-decoration:none;
    margin-bottom: 19px;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style:groove;
    border-color: rgb(32, 32, 156); 
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
}
.item p{
    font-style:oblique;
    font-size: large;
    margin-left: 20px;
    margin-bottom :5px;
    padding-bottom:5px ;
    width:400px;
    height: 100px;
    color: white;
}
.item a:hover{
    background-color: rgb(32, 32, 156); 
}
